<div class="chatbot-container">
  <h1>CoronaBOT</h1>
  <div #messageBox class="message-box">
    <div *ngFor="let message of messages; let i = index">
      <span [className]="i % 2 === 0 ? 'client-message' : 'server-message'">{{
        message
      }}</span>
    </div>
  </div>
  <input
    placeholder="Mensagem"
    class="message-input"
    [(ngModel)]="message"
    (keyup)="$event.keyCode == 13 && sendMessage()"
  />
  <button class="btn-send" (click)="sendMessage()">Enviar</button>
</div>
