.chatbot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: midnightblue;
}

.message-box {
  height: 300px;
  width: 300px;
  border: 1px solid midnightblue;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 10px;
}

.message-input {
  width: 300px;
  border: 1px solid midnightblue;
  border-radius: 5px;
  padding: 10px;
  outline: none;
}

.btn-send {
  background-color: midnightblue;
  width: 320px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
}

.client-message {
  background-color: midnightblue;
  width: 200px;
  color: white;
  border-radius: 20px;
  float: left;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.server-message {
  background-color: lightgray;
  width: 200px;
  color: black;
  border-radius: 20px;
  float: right;
  padding: 10px;
  position: relative;
}
